<%= @currentfile.url %> Recordings

<% if @files.blank? %>
<h1>Your recordings haven't been processed yet.</h1>
<h2>(Your recordings will be ready instantaneously when we're out of beta.)</h2>
<% else %>
<h1>You Cakewalk recordings are ready to download! Download them before the links expire (links won't expire when we're out of Beta).</h1>
<ul>
  <% @files.each do |file | -%>
    <%= link_to "Recording ID #{file.screen_share_event_id}", file.url %>
    <%= file.created_at.to_s(:short) %>
    <%= file.created_at+7.day %> <!-- format time -->
  <% end %>
</ul>
<% end %>




<!-- URL, when it expires, and ID (use in the anchor link, ie Recording ID#<%-%>), order by desc created at date -->