<h1 class="h1results"><%= @currentfile.url %> results</h1>

<% if @files.blank? %>
<h2 class="h2results">Your recordings haven't been processed yet.</h2>
<h2 class="h3results">(Your recordings will be instantly ready when we're out of Beta.)</h2>
<% else %>
<h2 class="h2results">You Cakewalk recordings are ready to download! Get them before the download links expire (nothing expires once we're out of Beta).</h2>
<ul>
	<div class="results">
	  <% @files.each do |file | -%>
	    <%= link_to "Recording ID#{file.screen_share_event_id}", file.url %>
	    <!--<%= file.created_at.to_s(:short) %>-->
	    <%= file.created_at+7.day %> <!-- format time --></br></br>
	  <% end %>
	</div>
</ul>
<% end %>




<!-- URL, when it expires, and ID (use in the anchor link, ie Recording ID#<%-%>), order by desc created at date -->