<div class="container">
	<% if @test.user.balance > 0 %>
		<div class="span7 text-center">
			<h4>Help <%= @test.url %> work out kinks and become easier to use by clicking below.</h4>
			</br></br>
		</div>
			<h4 class="smaller">Share your thoughts out loud as you use <%= @test.url %> to:
			<ul>
				<li>describe in your own words what <%= @test.url %> is</li>
				<li>create a new account</li>
				<li>use what you consider its main feature</li>
			</h4>





			Share Your Screen &#38; Mic to Start
	




	<% else %>
	Please contact <%= @test.user.email %>. They don't have enough credit to conduct this user test.
	<% end %>
</div>